@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,100&display=swap");
* {
  font-family: "Roboto", sans-serif !important;
}

#mainNav {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  justify-content: center;
  background-color: whitesmoke;
  box-shadow: -2px 4px 10px lightgrey;

  color: black !important;
  width: auto !important;
  border-radius: 20px !important;
  padding: 5px;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: black;
}

.page-section {
  padding: 5rem 0;
}
